@import url(./fonts.css);
@import url(./reset.css);
@import url(./skip.css);

//중첩코딩
#wrap{
  width : 100%;
  #header{}
  #main{
    width : 100%;
    #section1{
      background: url(../img/restaurant-img7.jpg) no-repeat 50% 50%;
      background-size: cover;
      width : 100%;
      height : 570px + 130px + 130px;
      padding : 130px 0;
      .container{
        width : 100%;
        max-width: 1170px;
        margin : 0 auto;
        height : 100%;
        // padding : 130px 0;
        .title{
          width : 100%;
          height : 68.391px;
          text-align: center;
          padding : 0 15px;
          margin : 0 0 80px 0;
          h2{
            text-align: center;
            font-size : 28px;
            font-weight: 600;
            padding : 0 0 12px 0;
          }
          img{
            vertical-align: middle;
          }
        }
        .content{
          width : 100%;
          height : 100%;
          display: flex;
          .left{
            width : 44%;
            height : 100%;
            ul{
              width : 100%;
              li{
                width : 100%;
                display: flex;
                margin : 0 0 53.625px 0;
                .icon{
                  width : 81.234px;
                  height : 59px;
                  padding : 0 15px;
                  color : #c8a64b;
                    h2{
                      i{
                        font-size : 40px;
                      }
                    }
                  }
                }
                .text{
                  padding : 0 15px;
                  h3{
                    font-size: 15px;
                    font-weight : 700;
                    color : #000;
                  }
                  h4{
                    font-size : 14px;
                    font-family: 'Roboto';
                    letter-spacing: 0.26px;
                    line-height: 24px;
                    margin : 3px 0 0 0;
                  }
                }
              }
            }
          }
          .right{
            width : 56%;
            height : 100%;
            .col-gap{
              padding : 0 15px;
              .content-wrap{
                width : 100%;
                #messageForm{
                  width : 100%;
                  ul{
                    width : 100%;
                    li{
                      width : 100%;
                      margin : 0 0 20px 0;
                      input{
                        width : 100%;
                        height : 47px;
                        padding : 12px 15px;
                        border : 2px solid rgba(0,0,0,0.1);
                        color : #626262;
                        font-size : 14px;
                        font-weight: 500;
                        font-family: 'Montserrat';
                        &:focus{
                          outline : 2px solid #f00;
                          outline-offset: -2px;
                        }
                      }
                      select{
                        width : 100%;
                        height : 47px;
                        padding : 12px 15px;
                        border : 2px solid rgba(0,0,0,0.1);
                        color : #626262;
                        font-size : 14px;
                        font-weight: 500;
                        font-family: 'Montserrat';
                        background: #fff url(../img/select-arrow.png) no-repeat 98% 50%;
                        // 원래의 모양 사용안함
                        appearance: none;
                        &:focus{
                          outline: 0;
                        }
                      }
                      textarea{
                        width : 100%;
                        height : 93px;
                        padding : 15px 12px;
                        border : 2px solid rgba(0,0,0,0.1);
                        color : #626262;
                        font-size : 14px;
                        font-weight: 500;
                        font-family: 'Montserrat';
                        &:focus{
                          outline : 2px solid #f00;
                          outline-offset: -2px;
                        }
                      }
                      button{
                        width : 76.719px;
                        height : 42.563px;
                        background: #000;
                        color : #fff;
                        border-radius: 2px;
                        &:hover{
                          background: #fff;
                          color : #000;
                          cursor: pointer;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    }
  }
  #footer{}
}