#postlist{
  width : 100%;
  border-top : 1px solid #ececec;
  .container{
    width : 100%;
    max-width: 800px;
    margin : 0 auto;
    padding : 50px 0 0 0;
    .content{
      width: 100%;
      .area{
        margin-bottom: 50px;
        text-align: center;
        color : #000;
        h1{
          font-size: 16px;
          b{
            display: inline-block;
            height: 100%;
            font-size: 17px;
            font-weight: bold;
            transform: translateY(-3px);
          }
        }
      }
      .category{
        margin: 10px 12px 10px 23px;
        display: -webkit-box;
        label{
          margin: auto 0;
          color: #292929;
          font-size: 15px;
          font-weight: 700;
          text-align: left;
          display: block;
        }
        .select-box{
          margin: auto 15px auto 5px;
          select{
            border-radius: 20px;
            padding-left: 20px;
            color: #000;
            width: 135px;
            height: 30px;
          }
        }
        .search-area{
          -webkit-box-flex: 1;
          button{
            float: right;
            margin: 0 24px 0 0;
            width: 30%;
            box-sizing: border-box;
            padding: 5px 3px;
            background-color: #767676;
            border: 1px solid #767676;
            border-radius: 20px;
            color: #fff;
            height: 30px;
            font-size: 10px;
          }
        }
        .add-btn{
          margin : 0 auto;
          text-align: right;
          .link{
            .fa-solid{
              color: #767676;
              font-size: 25px;   
              font-weight: 900;
              font-family: "Font Awesome 6 Free";
              &::before{
                content: "\f055";
              } 
            }
          }
        }
      }
      .list{
        ul{
          li{
            width : 100%;
            padding : 20px 0;
            border-bottom: 1px solid #eeeeef;
            display: flex;
            img{
              width: 100px;
              margin : 0 30px;
              border-radius: 10px;
            }
            .listbox-content{
              -webkit-box-flex: 1;
              padding : 0 15px 0 0;
              width : 100%;
              .listbox-head{
                line-height: 20px;
                display: -webkit-box;
                // margin : 0 0 8px 0;
                .name{
                  line-height: 20px;
                  font-weight: 700;
                  font-size: 17px;
                  a{
                    color : #000;
                    font-weight: 700;
                    text-decoration: none;
                  }
                }
                .category{
                  background-color: #ff6e6c;
                  height: 19px;
                  margin: 12px 7px 0 10px;
                  padding : 0 7px;
                  border-radius: 3px;
                  color : #fff;
                  font-size: xx-small;
                  vertical-align: middle;
                }
                .time{
                  -webkit-box-flex: 1;
                  color : #ff6b33;
                  text-align: right;
                  line-height: 20px;
                  small{
                    font-size: 11px;
                    vertical-align: middle;
                  }
                }
              }
              a{
                display: block;
                text-decoration: none;
                margin : 10px 0;
                p{
                  color : #666;
                  font-size: 13px;
                  text-align: left;
                  line-height: 20px;
                }
              }
              .listbox-foot{
                display: flex;
                .detail-info{
                  width: 80%;
                  text-align: left;
                  line-height: 30px;
                  .area-btn{
                    box-sizing: border-box;
                    height: 30px;
                    margin: 0 8px;
                    padding : 4px;
                    background-color: #fff;
                    border: 1px solid #afafaf;
                    border-radius: 27px;
                    color: #5d5d5d;
                    cursor: pointer;
                    >img{
                      margin : 0;
                      width : 17px;
                      vertical-align: middle;
                    }
                  }
                  >img{
                    width : 20px;
                    vertical-align: middle;
                    margin : 3px;
                  }
                  >small{
                    padding-left: 5px;
                    font-family: 'Roboto';
                    line-height: 20px;
                    text-align: left;
                  }
                }
                .ago{
                  color : #959595;
                  text-align: right;
                  line-height: 30px;
                  >small{
                    font-size: 11px;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}