*{
    margin : 0;
    padding : 0;
    vertical-align: middle;
    box-sizing: border-box;
}
#wrap{
    width : 100%;
}
#wrap table{
    width : 100%;
    max-width: 1200px;
    margin : 0 auto;
}
#wrap table caption{
    text-align: center;
    padding : 100px 0 50px 0;
    font-size: 20px;
    font-weight: 600;
    color : #39c;
}
#wrap table th,td{
    text-align: center;
}
#wrap table th{
    height : 60px;
    background: #37c;
    color : #fff;
}
#wrap table td{
    height : 50px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}