@import url(./fonts.css);
@import url(./reset.css);
#wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#wrap #header {
  z-index: 2;
  position: fixed;
  width: 250px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#wrap #header .container {
  width: 100%;
  height: 100%;
}
#wrap #header .container .gap {
  width: 100%;
  height: 100%;
  padding: 60px 25px;
}
#wrap #header .container .gap .content {
  width: 100%;
}
#wrap #header .container .gap .content .top {
  width: 100%;
  height: 71.891px;
  padding: 0 15px 19.891px 15px;
}
#wrap #header .container .gap .content .top a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 11px 0;
}
#wrap #header .container .gap .content .top a img {
  width: 156px;
  height: 100%;
}
#wrap #header .container .gap .content .mid {
  width: 100%;
  padding: 0 15px;
  margin: 29.844px 0;
}
#wrap #header .container .gap .content .mid ul {
  width: 100%;
  height: 100%;
}
#wrap #header .container .gap .content .mid ul li {
  width: 100%;
  height: 54px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#wrap #header .container .gap .content .mid ul li a {
  display: block;
  position: relative;
  padding: 0 0 0 15px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 20px;
  margin: 0 auto 0 0;
}
#wrap #header .container .gap .content .mid ul li a::before {
  position: absolute;
  left: -1px;
  top: 9px;
  content: "";
  width: 6px;
  height: 2px;
  background: #ef106e;
}
#wrap #header .container .gap .content .bottom {
  width: 100%;
  padding: 25.344px 15px 0 15px;
}
#wrap #header .container .gap .content .bottom .icon {
  display: flex;
}
#wrap #header .container .gap .content .bottom .icon a {
  display: block;
  margin: 0 10px;
}
#wrap #header .container .gap .content .bottom .icon a i {
  font-size: 16px;
  color: #575757;
  margin: 0 0 0 5px;
}
#wrap #main {
  width: 86.86%;
  margin: 0 0 0 auto;
}
#wrap #main #section1 {
  z-index: 1;
  position: relative;
  width: 100%;
  cursor: url(../img/icon-move-light.png), auto;
}
#wrap #main #section1 .container {
  position: relative;
  width: 100%;
}
#wrap #main #section1 .container .title {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap #main #section1 .container .title .content {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#wrap #main #section1 .container .title .content div {
  width: 100%;
}
#wrap #main #section1 .container .title .content div h3 {
  font-size: 35px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #fff;
}
#wrap #main #section1 .container .title .content div h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #fff;
}
#wrap #main #section1 .container .title .content div p {
  width: 305.891px;
  height: 33px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 20px;
  color: #ef106e;
  background-color: #000;
  padding: 5px 15px;
  margin: 23.391px 0;
}
#wrap #main #section1 .container .slide-container {
  z-index: 1;
  position: relative;
  width: 100%;
}
#wrap #main #section1 .container .slide-container .slide-view {
  width: 100%;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {
  pointer-events: none;
  position: relative;
  width: 300%;
  display: flex;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  height: 100vh;
  background: url() no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide1 {
  background-image: url(../img/personal-img1.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide2 {
  background-image: url(../img/personal-img22.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide3 {
  background-image: url(../img/personal-img23.jpg);
}
#wrap #main #section2 {
  width: 100%;
  padding: 130px 0;
  background: url(../img/personal-img2.jpg) no-repeat 50% 50%;
}
#wrap #main #section2 .container {
  width: 100%;
  max-width: 1170px;
  height: 500px;
  margin: 0 auto;
}
#wrap #main #section2 .container .gap {
  width: 390px;
  padding: 0 15px;
}
#wrap #main #section2 .container .gap .content {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .title h2 {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #000;
  margin: 0 0 46.797px 0;
}
#wrap #main #section2 .container .gap .content .title h2::before {
  position: absolute;
  top: 15px;
  left: -30px;
  content: "";
  width: 12px;
  border-bottom: 4px solid #ef106e;
}
#wrap #main #section2 .container .gap .content .text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.26px;
  margin: 0 0 10px 0;
}
#wrap #main #section2 .container .gap .content .text ul {
  margin: 21.594px 0 0 0;
}
#wrap #main #section2 .container .gap .content .text ul li {
  font-size: 13px;
  font-weight: 500;
  padding: 13px 0 13px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#wrap #main #section2 .container .gap .content .text ul li span {
  display: inline-block;
  width: 110px;
  height: 23px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
#wrap #main #section2 .container .gap .content .text ul .no_line {
  border: 0;
}
#wrap #main #section2 .container .gap .content .text ul a {
  display: block;
  width: 206.078px;
  height: 40px;
  margin: 21.594px 0 0 0;
  background-color: #000;
  padding: 10px 22px;
  color: #fff;
}