<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마켓컬리 회원가입 정보</title>
</head>
<body>

    <div id="wrap">
        <div class="container">
            <div class="title">
                <h1>마켓컬리 회원가입 정보</h1>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>비밀번호 확인</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>휴대폰</th>
                        <th>주소</th>
                        <th>성별</th>
                        <th>생년월일</th>
                        <th>추가입력 사항</th>
                        <th>이용약관동의</th>
                    </tr>                    <tr>
                        <td>gurwlszx</td>
                        <td>0603okju</td>
                        <td>0603okju</td>
                        <td>홍혁진</td>
                        <td>gurwlszx@naver.com</td>
                        <td>010-9662-9052</td>
                        <td>은평구 연서로</td>
                        <td>남자</td>
                        <td>1997-05-03</td>
                        <td>24시간세일</td>
                        <td>전체 동의</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>