@import url(./fonts.css);
@import url(./reset.css);
@import url(./skip.css);
#wrap {
  width: 100%;
}
#wrap #main {
  width: 100%;
}
#wrap #main #section1 {
  background: url(../img/restaurant-img7.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 830px;
  padding: 130px 0;
}
#wrap #main #section1 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
#wrap #main #section1 .container .title {
  width: 100%;
  height: 68.391px;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 80px 0;
}
#wrap #main #section1 .container .title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 12px 0;
}
#wrap #main #section1 .container .title img {
  vertical-align: middle;
}
#wrap #main #section1 .container .content {
  width: 100%;
  height: 100%;
  display: flex;
}
#wrap #main #section1 .container .content .left {
  width: 44%;
  height: 100%;
}
#wrap #main #section1 .container .content .left ul {
  width: 100%;
  padding: 0 15px;
}
#wrap #main #section1 .container .content .left ul li {
  width: 100%;
  display: flex;
  margin: 0 0 53.625px 0;
}
#wrap #main #section1 .container .content .left ul li .icon {
  width: 81.234px;
  height: 59px;
  padding: 0 15px;
  color: #c8a64b;
}
#wrap #main #section1 .container .content .left ul li .icon h2 i {
  font-size: 40px;
}
#wrap #main #section1 .container .content .left ul .text {
  padding: 0 15px;
}
#wrap #main #section1 .container .content .left ul .text h3 {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
#wrap #main #section1 .container .content .left ul .text h4 {
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0.26px;
  line-height: 24px;
  margin: 3px 0 0 0;
}
#wrap #main #section1 .container .right {
  width: 56%;
  height: 100%;
}
#wrap #main #section1 .container .right .col-gap {
  padding: 0 15px;
}
#wrap #main #section1 .container .right .col-gap .content-wrap {
  width: 100%;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm {
  width: 100%;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul {
  width: 100%;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li {
  width: 100%;
  margin: 0 0 20px 0;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li input {
  width: 100%;
  height: 47px;
  padding: 12px 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li input:focus {
  outline: 2px solid #f00;
  outline-offset: -2px;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li select {
  width: 100%;
  height: 47px;
  padding: 12px 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  background: #fff url(../img/select-arrow.png) no-repeat 98% 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li select:focus {
  outline: 0;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li textarea {
  width: 100%;
  height: 93px;
  padding: 15px 12px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li textarea:focus {
  outline: 2px solid #f00;
  outline-offset: -2px;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li button {
  width: 76.719px;
  height: 42.563px;
  background: #000;
  color: #fff;
  border-radius: 2px;
}
#wrap #main #section1 .container .right .col-gap .content-wrap #messageForm ul li button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}