#header{
  width: 100%;
  // border-bottom: 1px solid #ececec;
  .container{
    width: 100%;
    max-width: 1114px;
    margin: 0 auto;
    padding: 15px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >a{
      margin: 0 10px;
      color: #000;
      text-decoration: none;
      font-size: 17px;
      font-weight: 700;
      display: flex;
      align-items: center;
      img{
        width: 30px;
        margin : 3px 10px;
      }
    }
    >div{
      display: flex;
      align-items: center;
      justify-content: center;
      .menutext{
        font-size: 16px;
        margin: 0 15px;
        color: #000;
        text-decoration: none;
      }
      .item{
        font-size: 16px;
        margin: 0 10px;
        color: #000;
        text-decoration: none;
        button{
          box-sizing: border-box;
          width: 106px;
          height: 32px;
          margin: 0 15px;
          background-color: #7aab85;
          border: 1px solid #7aab85;
          border-radius: 10px;
          color: #fff;
        }
      }
    }
  }
}