#section4{
  padding : 120px 0;
  background : #dee1e9;
  div{
    text-align: center;
    h2{
      display: block;
      font-size: 24px;
      font-weight: 700;
      color : #000;
    }
    p{
      font-size: 16px;
      line-height: 24px;
      color : #000;
      margin : 23px 0;
    }
  }
  img{
    display: block;
    width : 900px;
    margin : 3px auto;
    text-align: center;
  }
}