@media all and (max-width : 1903px){
  @keyframes slide {
    0.00% {transform:  translateX(-100vw * 0);}
    6.67% {transform:  translateX(-100vw * 0);}
   13.33% {transform:  translateX(-100vw * 0);}
   20.00% {transform:  translateX(-100vw * 0);}
   26.67% {transform:  translateX(-100vw * 0);}
   33.33% {transform:  translateX(-100vw * 1);}
   40.00% {transform:  translateX(-100vw * 1);}
   46.67% {transform:  translateX(-100vw * 1);}
   53.33% {transform:  translateX(-100vw * 1);}
   60.00% {transform:  translateX(-100vw * 1);}
   66.67% {transform:  translateX(-100vw * 2);}
   73.33% {transform:  translateX(-100vw * 2);}
   80.00% {transform:  translateX(-100vw * 2);}
   86.67% {transform:  translateX(-100vw * 2);}
   93.33% {transform:  translateX(-100vw * 2);}
  100.00% {transform:  translateX(-100vw * 3);}
  }
}

@media all and (max-width:1181px) {
  #wrap #main #section5 .container .gap .content .gallery-box {
    width: 100vw;
    margin : 0;
    padding : 0 15px 0 0;
  }

  #wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap {
    margin: 0 0 15px 15px;
  }

  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 33.333%;
  }  
}

@media all and (max-width:1170px) {
  #wrap #main #section2,
  #wrap #main #section3,
  #wrap #main #section4,
  #wrap #main #section5,
  #wrap #main #section6,
  #wrap #main #section7,
  #wrap #main #section8,
  #wrap #main #section9,
  #wrap #main #section10 {
    padding: 80px 0;
  }
  #wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap {
    width: 100%;
    padding: 5.128205128vw;
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: calc((100% / 3) * 5);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: calc(100% / 3);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    animation: slide-ani 8s cubic-bezier(1, 0, 0.8, 1) both;
  }
  @keyframes slide-ani {
    0.0% {transform: translateX(-33.33vw * 0);}
   12.5% {transform: translateX(-33.33vw * 0);}
   25.0% {transform: translateX(-33.33vw * 0);}
   37.5% {transform: translateX(-33.33vw * 0);}
   50.0% {transform: translateX(-33.33vw * 1);}
   62.5% {transform: translateX(-33.33vw * 1);}
   75.0% {transform: translateX(-33.33vw * 1);}
   87.5% {transform: translateX(-33.33vw * 1);}
  100.0% {transform: translateX(-33.33vw * 2);}
  }

  #wrap #main #section9 .container .gap .content > ul > li {
    width: calc(100% / 2);
  }
  
}

@media all and (max-width:1112px) {
  // #wrap {
  //   #section2 {
  //     .container {
  //       .gap {
  //         .content {
  //           .left, .right {
  //             width: 100%;
  //             height: 350px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  #wrap #main #section2 .container .gap .content .left .content-box > ul > li.content-text .gap .text-box ul li {
    width: 100%;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul > li.content-text .gap .text-box ul li {
    width: 100%;
  }
}

@media all and (max-width : 1058px) {
  #wrap #main #section2 .container .gap .content{
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left {
    width: 70%;
    height: auto;
  }
  #wrap #main #section2 .container .gap .content .right {
    margin : 50px 0 0 0;
    width: 70%;
    height: auto;
  }
}

@media all and (max-width:990px) {
  #wrap {
    #header {
      .container {
        .gap {
          .content {
            .left,
            .right {display: none;}
            .center{
              width : 230px;
              a{
                background-image: url(../img/logo-pink-mobile.png);
              }
            }
          }
        }
      }
    }
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: calc((100% / 2) * 5);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: calc(100% / 2);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    animation: slide-ani 12s cubic-bezier(1, 0, 0.8, 1) both;
  }
  @keyframes slide-ani {
    0.00% {transform: translateX(-50vw * 0);}
    8.33% {transform: translateX(-50vw * 0);}
   16.67% {transform: translateX(-50vw * 0);}
   25.00% {transform: translateX(-50vw * 0);}
   33.33% {transform: translateX(-50vw * 1);}
   41.67% {transform: translateX(-50vw * 1);}
   50.00% {transform: translateX(-50vw * 1);}
   58.33% {transform: translateX(-50vw * 1);}
   66.66% {transform: translateX(-50vw * 2);}
   75.00% {transform: translateX(-50vw * 2);}
   83.33% {transform: translateX(-50vw * 2);}
   91.66% {transform: translateX(-50vw * 2);}
  100.00% {transform: translateX(-50vw * 3);}
  }
}

@media all and (max-width : 968px) {
  #wrap #main #section4 .container > .gap .content ul{
    flex-flow: row wrap;
  }
  #wrap #main #section4 .container > .gap .content ul li {
    width: 50%;
  }
  #wrap #main #section4 .container > .gap .content ul li .col-gap {
    padding: 15px;
  }
}

@media all and (max-width : 900px) {
  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 50%;
  } 
  #wrap #main #section6 .container .gap .content > ul {
    flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .content > ul > li {
    width: 100%;
  }
  
  #wrap #main #section6 .container .gap .content > ul > li .col-gap {
    width: 100%;
    padding: 15px;
  }
}
@media all and (max-width : 700px){
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    width: calc((100% / 1) * 5);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
    width: calc(100% / 1);
  }
  #wrap #main #section8 .container .gap .content .slide-container .slide-view .slide-wrap {
    animation: slide-ani 16s cubic-bezier(1, 0, 0.8, 1) both;
  }
  @keyframes slide-ani {
    0.00% {transform: translateX(-100vw * 0);}
    6.25% {transform: translateX(-100vw * 0);}
   12.50% {transform: translateX(-100vw * 0);}
   18.75% {transform: translateX(-100vw * 0);}
   25.00% {transform: translateX(-100vw * 1);}
   31.25% {transform: translateX(-100vw * 1);}
   37.50% {transform: translateX(-100vw * 1);}
   43.75% {transform: translateX(-100vw * 1);}
   50.00% {transform: translateX(-100vw * 2);}
   56.25% {transform: translateX(-100vw * 2);}
   62.50% {transform: translateX(-100vw * 2);}
   68.75% {transform: translateX(-100vw * 2);}
   75.00% {transform: translateX(-100vw * 3);}
   81.25% {transform: translateX(-100vw * 3);}
   87.50% {transform: translateX(-100vw * 3);}
   93.75% {transform: translateX(-100vw * 3);}
  100.00% {transform: translateX(-100vw * 4);}
  }
  #wrap #main #section9 .container .gap .content > ul > li {
    width: calc(100% / 1);
  }
}

@media all and (max-width : 600px) {
  #wrap #main #section5 .container .gap .content .gallery-box ul li {
    width: 100%;
  } 
  #wrap #main #section7 .container .gap .content span {
    flex-flow : column nowrap;
    align-items: center;
    justify-content: center ;
  }
  #wrap #main #section7 .container .gap .content span a{
    padding : 20px 0;
  }
}

@media all and (max-width : 550px) {
  #wrap #main #section4 .container > .gap .content ul li {
    width: 100%;
  }
}

@media all and (max-width:534px) {
  #wrap #main #section2 .container .gap .content .left .content-box > ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left .content-box > ul > li {
    width: 100%;
    padding : 40px 0;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .right .content-box > ul > li {
    width: 100%;
    padding : 40px 0;
  }
}

@media all and (max-width:500px) {
  #wrap #main #section7 .container .gap .content p {
    width : 90%;
    padding : 50px 0;
  }
  #wrap #main #section2 .container .gap .content{
    flex-flow: row wrap;
    justify-content: center;
  }
  #wrap #main #section2 .container .gap .content .left {
    width: 100%;
    height: auto;
  }
  #wrap #main #section2 .container .gap .content .right {
    margin : 50px 0 0 0;
    width: 100%;
    height: auto;
  }

  #wrap #main #section1 .container .title div {
    transform: scale(0.7);
  }
  #wrap #main #section10 .container .gap .content p {
    width : 90%;
  }
  #wrap #footer .container .gap .content .foot-row1 a {
    margin: 0 10px;
  }
}

