#header {
  z-index: 2;
  position: relative;
  width: 100%;
}
#header .container {
  width: 100%;
}
#header .container .gap {
  width: 100%;
}
#header .container .gap .content {
  width: 100%;
}
#header .container .gap .content .fixed {
  z-index: 2;
  position: fixed;
  width: 100%;
}
#header .container .gap .content .fixed .nav-top {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dcdcdc;
  height: 45.25px;
  background: rgba(255, 255, 255, 0.9);
}
#header .container .gap .content .fixed .nav-top .left {
  height: 35px;
  position: absolute;
  top: 4px;
  left: 20px;
}
#header .container .gap .content .fixed .nav-top .left a {
  display: block;
  height: 100%;
}
#header .container .gap .content .fixed .nav-top .left a img {
  height: 100%;
}
#header .container .gap .content .fixed .nav-top .right {
  position: absolute;
  top: 0;
  right: 20px;
}
#header .container .gap .content .fixed .nav-top .right ul {
  display: flex;
  padding: 15px 0;
}
#header .container .gap .content .fixed .nav-top .right ul li a {
  padding: 0 10px;
}
#header .container .gap .content .fixed .nav-bottom {
  width: 100%;
  height: 85px;
  position: relative;
  border-bottom: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.9);
}
#header .container .gap .content .fixed .nav-bottom ul {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1832px;
  margin: 0 auto;
}
#header .container .gap .content .fixed .nav-bottom ul li {
  position: relative;
}
#header .container .gap .content .fixed .nav-bottom ul li a {
  display: block;
  padding: 31px 20px;
  font-size: 18px;
  line-height: 21.6px;
  color: #333;
  letter-spacing: -1px;
}
#header .container .gap .content .fixed .nav-bottom ul li:nth-child(1) img {
  position: absolute;
  top: 27px;
  left: -10px;
  width: 30px;
  height: 30px;
}
#header .container .gap .content .fixed .nav-bottom ul li:nth-child(1) a {
  color: #998465;
}
#header .container .gap .content .fixed .reservation {
  width: 100%;
  height: 113px;
  border-bottom: 1px solid #ccc;
  background: rgba(173, 158, 135, 0.97);
}
#header .container .gap .content .fixed .reservation .col-gap {
  width: 100%;
  max-width: 1696px;
  height: 100%;
  margin: 0 auto;
  padding: 0 80px;
}
#header .container .gap .content .fixed .reservation .col-gap form {
  width: 100%;
  height: 100%;
  padding: 26px 0 22px 0;
}
#header .container .gap .content .fixed .reservation .col-gap form ul {
  width: 100%;
  height: 100%;
  display: flex;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #ccc;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li:nth-child(1) {
  width: 23.96%;
  padding: 0 0 0 25px;
  justify-content: flex-start;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li:nth-child(2) {
  width: 26.52%;
  padding: 0 30px;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li:nth-child(3) {
  width: 18.15%;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li:nth-child(4) {
  width: 12.73%;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li:nth-child(5) {
  width: 18.61%;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div {
  text-align: center;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div.pad_top {
  padding: 24px 0 0 0;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div h4 {
  text-align: left;
  color: #000;
  font-size: 14px;
  letter-spacing: -1px;
  font-family: "Open Sans";
  padding: 0 0 10px 0;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div input {
  width: 100%;
  font-size: 16px;
  color: #fff;
  background: transparent;
  line-height: 34px;
  border: 0;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div input::-moz-placeholder {
  color: #fff;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div input::placeholder {
  color: #fff;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div input:focus {
  outline: 0;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div a {
  color: #fff;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div a.prom {
  display: block;
  padding: 10px 0 0 0;
  text-decoration: underline;
}
#header .container .gap .content .fixed .reservation .col-gap form ul li div button {
  width: 231.922px;
  height: 65px;
  padding: 0 30px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}