#section4{
    width : 100%;
    height : 892.92px;
    padding : 40px 0 0 0;
    .container{
        width : 100%;
        height : 852.92px;
        padding : 60px 0 205px 0;
        .content{
            width : 100%;
            .slide-container{
                width : 100%;
                .slide-view{
                    width : 100%;
                    .slide-wrap{
                        width : 100%;
                        .slide{
                            width : 100%;
                        }
                    }
                }
            }
        }
    }
}